@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

}
.active.active{
    color:black;
}